 /* Universal section */

 *{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header section */

.banner{
    background-image: url(./images/banner/banner3.png);
    height: 500px;
    width: 1200px;
    text-align: right;
    background-repeat: no-repeat;
    background-size: cover ;
    padding: 150px 230px 150px 0;
}
.banner-title{
    font-weight: 600;
    font-size: 50px;
    text-align: right;
    color: white;
    
}
.banner-description{
    color: white;
    margin-top: 24px;
    font-weight: 400;
    height: 70px;
    width: 400px;
    margin-left: 800px;
}
#btn1{
    height: 64px;
    width: 160px;
    color: blue;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    margin-top: 35px;
}  

/* failures section */

.full-section{
    display: flex;
    margin-top: 100px;
    padding: 10px 122px 0 122px ;
}

.img-manage{
    float: left; 
    display: block;
    margin-right: 100px;
    margin-left: 0px;
}

.text{
    margin-top: 250px;
}

.text-title{
    font-size: 40px;
   margin-bottom: 24px;
}
.option{
    margin-top: 20px;
}

/* achievements section */

.try{
    display: flex;
    margin-top: 100px;
    padding: 10px 122px 0 150px ;
}
.text2{
    margin-top: 200px;
}

/* plan section */

.plan{
    margin-top: 100px;
}
.my-plan{
    text-align: center;
    font-size: 40px;
    margin-bottom: 55px;
}
.plan-data{
    display: flex;
    justify-content: space-around;
    margin-left: 230px;
    margin-right: 230px;
}
.describe{
    margin-top: 10px;
}

/* gradient section */

.gradient{
    margin-top: 130px;
    margin-left: 230px;
    margin-right: 230px;
    background-image: url(./images/gradient1.png), url(./images/watch.png);
    height: 300px;
    border-radius: 8px;
    background-blend-mode: #(0, 95, 172, 0);
}
.internal{
    padding: 40px 400px 40px 44px;
}
.inter-title{
    color: #FFFFFF;
    font-size: 40px;
}
#btn{
    font-size: 20px;
    margin-top: 24px;
    color: #005FAC;
    height: 55px;
    width: 150px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}

/* footer section */

footer{
    margin-top: 130px;
    background-color: black;
    width: 1425px;
    height: 577px;
    color: #FFFFFF;
    display: flex;
}
.field{
    text-align: left;
    padding:130px 230px 240px 200px ;
}
.future{
    padding: 130px 200px 130px 230px;
    color: #FFFFFF;
}

#fr{
    font-size: 45px;
    font-weight: 700;
}
#details{
    margin-top: 16px;
    
}
#mail{
    margin-top: 25px;
    border-radius: 8px;
    background-color: black;
    border-color: #FFFFFF;
    height: 40px;
    width: 200px;
}
#btn3{
    color: #FFFFFF;
    background-color: #005FAC;
    margin-top: 16px;
    height: 45px;
    width: 120px;
    border-radius: 8px;
}